
@{
    ViewData["Title"] = "Deposit";
}

<h1>Deposit</h1>

<form method="get">
    <input type="number" name="amount">

    <select name="currency">
        <option value="">select currency</option>
        <option value="1">ustd ERC20</option>
        <option value="2">usdt TRC20</option>
        <option value="3">usdt bep20</option>
    </select>

    <input type="submit"  asp-action="DepositRequest">

</form>

